/*About section  */

.resume-position {
    display: -ms-grid;
    display: grid;
    justify-items: center;
}

.resume {
    letter-spacing: .1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    font-weight: 600;
    width: 16rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    -webkit-font-smoothing: antialiased;
    border-radius: 8px;
    margin-right: .5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.skillsSection {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    background-color: white;
    border-radius: 15px;
    padding: 48px;
}

.skillsContainer {
    text-align: center;
    font-size: 0.7rem;
}

.skillsGrid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.skillsGrid li {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 80px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    border: 1px solid #eee;
}

ol,
ul {
    list-style: none;
}

.skillsGrid li img {
    width: 35px;
    height: 35px;
}


/* Media Query for phone view port and under 768px wide */

@media screen and (max-width: 768px) {
    .two {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}