/* Contact section */

html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nav-link {
    font-weight: 500;
    width: 6rem;
}

.nav-menu {
    width: 6rem;
}


/* View port for tablet */

@media screen and (max-width: 769px) {
    .toggle-menu {
        right: 110px;
    }
}


/* View port for phone */

@media screen and (max-width: 426px) {
    .toggle-menu {
        right: 40px;
    }
}